@import "../../theme/colors";

.prevote {
  &__header {
    .p-button {
      border: none;
      background-color: $purple;
      font-weight: bold;
    }
  }
  .p-dataview .p-dataview-content {
    border: none;
    background-color: transparent;
  }
  .p-panel .p-panel-content {
    padding-left: 0;
    padding-right: 0;
  }
}
