.accordion {
  .p-accordion-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .p-dataview-content {
    border-left: none !important;
    border-right: none !important;
  }
}
