@import "../../theme/colors";

$border-size: 6px;

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;

    &-top {
      border: solid $border-size $brand-color-top;
    }
    &-favorite {
      border: solid $border-size $brand-color-favorite;
    }
    &-compromise {
      border: solid $border-size $brand-color-compromise;
    }
    &-veto {
      border: solid $border-size $brand-color-veto;
    }
    &-tbd {
      border: solid $border-size $brand-color-tbd;
    }
  }

  &__label {
    margin-top: -1rem;
    padding: 2px 10px;
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    border-radius: 0.6rem;
    text-transform: capitalize;
  }
}
