@import "../../../theme/colors";

.rate-button {
  background-color: transparent;
  border: none;
  padding: 0;

  &:hover {
    background-color: $gray;
    .pi {
      color: black;
    }
  }

  &-label {
    text-align: center;
    margin: 0;
    font-weight: bold;
    letter-spacing: -1px;
  }

  .pi {
    font-size: 2.5em;
    padding-bottom: 0;
    color: $gray;
  }
}
