@import "../../theme/colors";

.candidate-detail {
  background-color: white;

  h4 {
    font-size: 1.3em;
    color: $blue;
    margin: 0;
  }

  h3 {
    color: $purple;
    margin: 0;
  }

  ul {
    margin: 0;
  }
  &__header {
    padding: 0.5em;
    p {
      font-size: 1.25em;
      color: gray;
      margin: 0;
    }
    .pi {
      vertical-align: bottom;
    }
  }
  &__main {
    margin-bottom: 25px;
    background-color: #f2f2f2;
    border-top: solid 1px $border-color;
    border-bottom: solid 1px $border-color;
    padding: 10px;
  }

  &__experience,
  &__position {
    border-bottom: dashed 1px $border-color;
    background-color: white;
  }
  &__experience {
    margin-bottom: 1em;
  }
}
