$orange: #f89537;
$yellow: #f5d76e;
$green: #a6cb52;
$red: #f25e57;
$gray: #757575;

$brand-color-top: $green;
$brand-color-favorite: $green;
$brand-color-compromise: $yellow;
$brand-color-veto: $red;
$brand-color-tbd: $gray;
