$orange: #f6c143;
$yellow: #f5d76e;
$green: #c6df79;
$red: #b02318;
$gray: #D9D9D9;
$blue: #0070c0;
$purple: #ba81c5;

$like-color: $green;
$dislike-color: $red;
$background-color: #f6f6f6;
$border-color: #c0c0c0;
$brand-color-top: $green;
$brand-color-favorite: $green;
$brand-color-compromise: $orange;
$brand-color-veto: $red;
$brand-color-tbd: $gray;
