$orange: #f6c143;
$yellow: #f5d76e;
$green: #4aa133;
$red: #dd5858;
$gray: #d9d9d9;
$blue: #007ad9;
$purple: #9b50b0;
$blue-1: #191532;
$blue-2: #383164; // eg right main menu
$blue-3: #5d558a; // eg right main menu active entry
$blue-4: #2a2355;

$hover-color: #c3acca;
$like-color: $green;
$dislike-color: $red;
$background-color: #f6f6f6;
$border-color: #857789;
$brand-color-top: $green;
$brand-color-favorite: $green;
$brand-color-compromise: $orange;
$brand-color-veto: $red;
$brand-color-tbd: $gray;
