$orange: #f6c143;
$yellow: #f5d76e;
$green: #c6df79;
$red: #b02318;
$gray: #D9D9D9;
$blue: #007ad9;
$purple: #ba81c5;
$blue-1: #191532;
$blue-2: #383164;  // eg right main menu
$blue-3: #5D558A;  // eg right main menu active entry
$blue-4: #2A2355;

$like-color: $green;
$dislike-color: $red;
$background-color: #f6f6f6;
$border-color: #c0c0c0;
$brand-color-top: $green;
$brand-color-favorite: $green;
$brand-color-compromise: $orange;
$brand-color-veto: $red;
$brand-color-tbd: $gray;
