@import "../../theme/colors";

.result {
  &__header {
    border-bottom: solid 2px gray;
    margin-bottom: 1em;
    &--icon .pi {
      font-size: 2em;
    }
    &--description {
      font-size: 1.2em;
      margin: 0;
    }
  }

  &__footer {
    margin-top: 1em;
    .p-button {
      border: none;
      background-color: $purple;
      font-weight: bold;
    }
  }
  .p-button {
    border: none;
    background-color: $purple;
    font-weight: bold;
  }
  .p-dataview .p-dataview-content {
    border: none;
    background-color: transparent;
    padding: 0;
  }
}
